{# templates/consulta.html.twig #}
{% extends 'bandeja.html.twig' %}
{% block jsformularioConsulta %}
<script>
  $(document).ready(function () {
    var objDiv = document.getElementById("contenedor_mensajes");
    objDiv.scrollTop = objDiv.scrollHeight;
  })
</script>
{% endblock %}
{% block consulta %}
<div class="consulta">
  <table>
    <tr>
      <td>
        <img class="consulta_foto" src="https://pbs.twimg.com/profile_images/1620481595256741890/as-9f7Z7_400x400.jpg"
          alt="none" />
      </td>
      <td>
        <h3>{{ datos }}</h3>
      </td>
      {% if mensajes.0.getConsulta().getCompletado() == 0 %}
      <td> <button class="button-24" role="button">
          Finalizar consulta
        </button></td>
      {% elseif valoracion == 0 %}
      <td><label for="">Puntuación:</label><select name="puntos" id="">
          <option value="" selected>1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
        </select></td>
      {% else %}
      <td>Puntuación: {{ valoracion }}</td>
      {%endif%}
    </tr>
  </table>
  <div class="contenedor_mensajes" id="contenedor_mensajes">
    {% for mensaje in mensajes %}
      {% if app.user.getId() == mensaje.getUsuario().getId() %}
        <div class="der">
          <p>
            {{ mensaje.getMensaje()}}
            {% if not mensaje.getAdjunto() is empty %}
            <a href="">mensaje.getAdjunto()</a>
            {% endif %}
          </p>
        </div>
      {% else %}
      <div class="izq">
        <p>
          {{ mensaje.getMensaje()}}
          {% if not mensaje.getAdjunto() is empty %}
          <a href="">mensaje.getAdjunto()</a>
          {% endif %}
        </p>
      </div>
      {%endif%}
    {% endfor %}
  </div>
  <div class="envio_mensaje">
    <form action="{{path('enviarMensaje', {'consulta':consulta.getCodigo()})}}" method="post">
      <textarea maxlength="200" class="mensaje" name="mensaje" id="" rows="4"
        placeholder="Escribe un mensaje"></textarea>
      <input type="file" name="fichero" />
      <button id="" class="button-13" type="submit">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}