{# templates/formularioConsulta.html.twig #} {% extends 'base.html.twig' %}
{% block js %}
<script>
  $(document).ready(listar)
  $(document).ready(function () {
    $("#especialidad").on("change", listar);
  });
  function listar(){
    $("#medicos").html("")
      $.get(
        "{{path('medicosPorEspecialidad')}}"+"/" +
        $("#especialidad").val(),
        function (data) {
          for (i = 0; i < data.length; i++) {
            let tr = document.createElement("tr");
            let tdimg = document.createElement("td");
            let img = document.createElement('img');
            console.log(data[i])
            tr.appendChild(tdimg)
            tdimg.appendChild(img)

            img.setAttribute('class','consulta_foto')
            let ubicacion ;
            if(data[i][5]){
              ubicacion = "data:image/png;base64," + data[i][5];
            }else{
              ubicacion = "{{ asset('default/foto.png')}}";
            }
            img.setAttribute('src',ubicacion)
            img.setAttribute('alt',"none")

            let tda = document.createElement("td");
            let a = document.createElement("a");
            tr.appendChild(tda)
            tda.appendChild(a);
            let url = "{{ path('medico', {'colegiado' : 'codigo' }) }}"
            url = url.replace("codigo", data[i][0]);
            a.setAttribute('href',url)
            a.appendChild(document.createTextNode(data[i][1] + " " + data[i][2]))
            
            for (y = 3; y <= 4; y++) {
              let td = document.createElement("td");
              tr.appendChild(td);
              td.appendChild(document.createTextNode(data[i][y]));
            }
            $('.medicos table').append(tr)
          }
        }
      );
  }
</script>
{% endblock %} 
{% block contenido %}
<div class="conten">
  <div class="categorias">
    <select name="especialidad" id="especialidad">
      <option value="" selected>Todo</option>
      {% for especialidad in especialidades %}
      <option value="{{ especialidad.codigo }}">
        {{ especialidad.nombre }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="medicos">
    <table id="medicos">
    </table>
  </div>
  {% endblock %}